.legalPublicationsForm{
    padding-top: 5%;
    padding-bottom: 5%;
    width: 70%;
    margin:auto;
    color: var(--primary-normal);
    form{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        label{
            padding-top: 3%;
        }
        .labelRadio{
            display: flex;
            flex-direction: column;
        }
    }
}