.mainPageNoticias{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}
.noticiasCardMenor{
    background-color: aquamarine;
    width: 32%;
    height: 32vh;
    border-radius: 15px;
    margin-left: 1%;
    margin-bottom: 2%;
}
.cardDentro{
    width: 100%;
    height: 100%;
}
